$success: #7952b3;

@import "bootstrap/scss/bootstrap.scss";

// * {
//   background-color: black !important;
//   color: red !important;
//   border: 1px solid green !important;
// }

a {
  color: #082135;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;

  &:hover {
    color: #355063;
    text-decoration: underline;
    text-decoration-color: #355063;
  }

  @media screen and (max-width: 992px) {
    font-size: 0.8rem;
  }
}

.btn-primary {
  border-radius: 32px;
  color: #042338;
  border-color: #042338;
  background-color: white;
  padding: 10px 20px;
  font-weight: 700;
  border-width: 2px;
}

.btn-secondary {
  border-radius: 32px;
  color: white;
  border-color: #5f7b90;
  background-color: transparent;
  padding: 8px 16px;
  border-width: 2px;
  font-size: 14px;
  font-weight: 700;
}

.btn-outline-secondary {
  border-radius: 32px;
  color: #042338;
  border-color: #042338;
  background-color: transparent;
  padding: 8px 16px;
  border-width: 2px;
  font-size: 14px;
  font-weight: 700;
}

.hero {
  height: 80vh;
  align-content: space-between;
  background: #022b41;

  .container {
    height: 100%;
  }

  @media screen and (max-width: 576px) {
    height: auto;
  }

  &__left-side {
    padding: 100px 100px 100px 0px;

    @media screen and (max-width: 1200px) {
      padding: 50px 50px 50px 0px;
    }

    @media screen and (max-width: 992px) {
      padding: 0;
    }

    height: 100%;
    display: grid;
    align-content: space-between;

    &__title {
      button {
        width: fit-content;
        margin-bottom: 16px;
      }

      h1 {
        color: white;
        width: 100%;
        font-size: 3.5rem;
        font-weight: 600;

        @media screen and (max-width: 1400px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
        }

        span {
          text-decoration: underline;
          text-decoration-color: #0097ff;
        }
      }

      @media screen and (max-width: 992px) {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
      }
    }

    &__button {
      border-top: 1px solid rgba(95, 123, 144, 0.5);
      padding-top: 24px;

      h3 {
        color: white;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 48px;

        @media screen and (max-width: 1200px) {
          font-size: 1.2rem;
        }
      }

      button {
        width: fit-content;
      }

      @media screen and (max-width: 992px) {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
      }
    }
  }

  &__right-side {
    background-image: url("/hero-bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 100px;

    @media screen and (max-width: 1400px) {
      padding: 50px;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      padding: 0px;
      justify-content: center;
    }

    @media screen and (max-width: 576px) {
      background-image: none;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &__form {
      background-color: white;
      width: 100%;

      @media screen and (max-width: 768px) {
        text-align: center;
        justify-content: center;
      }

      h2 {
        color: #042338;
        width: 100%;
        font-size: 2rem;
        font-weight: 700;

        @media screen and (max-width: 1200px) {
          font-size: 1.7rem;
        }

        @media screen and (max-width: 576px) {
          font-size: 1.5rem;
        }
      }

      input {
        height: 3.5rem;
      }

      textarea {
        height: 7rem;
        border-width: 1px;
      }

      input,
      textarea {
        &::placeholder {
          color: #042338;
          font-weight: 700;
        }
      }

      &--button {
        button {
          border-radius: 8px;
          font-size: 1.2rem;
        }
      }
    }
  }
}
